.App {
  margin: 25px;
  padding: 0 15px;
  height: 90vh;

  .titleBar {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .titleBox {
      border: 8px solid black;
      border-radius: 4px;
      background-color: lightskyblue;
      width: fit-content;
      padding: 5px 15px 8px 15px;

      label.app-title {
        font-size: 55px;
        font-weight: 700;
        font-style: italic;
      }
    }
  }

  .AppArea {
    display: flex;
    justify-content: space-around;
  }
}