.board {
    display: flex;
    border-radius: 4px;
    border: 8px solid burlywood;
    margin-left: 35px;
}

.whiteSquare, .blackSquare {
    height: 80px;
    width: 80px;
}

.whiteSquare {
    background-color: white;

    &:hover {
        background-color: lightgray;
    }
}

.blackSquare {
    background-color: black;

    &:hover {
        background-color: rgb(73, 73, 73);
    }
}

.column-letters, .row-numbers {
    font-size: 40px;
    font-weight: 700;
}

.column-letters {
    margin-left: 43px;
    display: flex;
     
    label {
        width: 80px;
        display: flex;
        justify-content: center;
    }
}

.row-numbers {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    
    label {
        height: 80px;
        display: flex;
        align-items: center;
    }
}