.whiteSquare, .blackSquare, .errorSquare {
    height: 80px;
    width: 80px;
}

.errorSquare {
    background-color: red;
}

.whiteSquare {
    background-image: url('/images/woodTexture.jpg');
    background-repeat: no-repeat;
    background-size: 80px 80px;
}

.blackSquare {
    background-image: url('/images/woodTextureDark.jpg');
    background-repeat: no-repeat;
    background-size: 80px 80px;
    transform: rotate(180deg);
}